/Face_Detection/venv
/Face_Detection/venv310


/Face_Detection/__pycache__

/Face_Detection/data

/Models/
*.onnx

*.zip
*.pem

# Python bytecode / cache
__pycache__/
*.py[cod]
*.pyd

!Models/InsightFace/w600k_r50.onnx

DEPLOY_EC2_FREE_TIER.md